.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  padding: 10px;
  margin: 0;
  /* border: 1px solid linear-gradient(254deg, #121678 0%, #0F0F0F 100%); */
}

.card__image {
  width: 350px;
}

/* .card__name {
  display: block;
}

.card__price {
  display: block;
} */